body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

#wrapper {
  margin: auto;
  width: 756px;
  border: 1px solid blue;
}

#header {
  height: 70px;
  border: 1px solid green;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#inner {
  float: left;
  margin: 5px 0;
  border: 1px solid black;
  width: 100%;
}

#sidebar {
  float: left;
  margin-right: 20px;
  width: 180px;
  border: 1px solid red;
  height: 330px;
  padding: 10px;
  box-sizing: border-box;
}

#inner2 {
  float: left;
  width: 550px;
  height: 330px;
  border: 1px solid green;
}

#top {
  height: 70px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#content {
  float: left;
  margin-right: 20px;
  width: 320px;
  border: 1px solid red;
  height: 250px;
  padding: 10px;
  box-sizing: border-box;
}

#right {
  float: right;
  width: 205px;
  border: 1px solid green;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
}

#footer {
  clear: both;
  height: 50px;
  border: 1px solid green;
  display: flex;
  align-items: center;
  padding: 0 10px;
}